body {
	background-color: white;
}

section {
	width: 500px;
	height: 500px;
	
	position: fixed;
	top: 50%;
	left: 50%;
	/* shift itself over by 50% of it's width and height */
	transform: translate(-50%, -50%);

}
