body {
  background-color: white;
  overscroll-behavior-y: none;

}

section {
  width: 500px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rectangle {
  width: 100px;
  height: 100px;
  background-color: red;
}

.image {
  position: absolute;
  top: 50%;
  left: calc(50% + 100px);
  transform: translate(0%, -40%);
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

/* Disable zooming */
body {
  touch-action: manipulation;
  -ms-touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}

//new font update
@font-face {
  font-family: 'Sentient';
  font-style: normal;
  font-weight: bold;
  src: url('fonts/sentient-bold.woff2') format('woff2'),
       url('fonts/sentient-bold.woff') format('woff');
}

@font-face {
  font-family: 'Sentient';
  font-style: italic;
  font-weight: normal;
  src: url('fonts/sentient-italic.woff2') format('woff2'),
       url('fonts/sentient-italic.woff2') format('woff');
}

#datetime {
  font-family: 'Sentient', serif;
  font-weight: bold;
}

#city {
  font-family: 'Sentient', serif;
  font-style: italic;
}
