body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    overflow: hidden;
}

.container {
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    border: 12px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
}

.title {
    position: absolute;
    top: 26px;
    left: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: black;
}

.logo {
    max-width: 48%;
    max-height: 70%;
    display: block;
    margin: auto;
}

.footer-text {
    font-family: 'Roboto', sans-serif; /* Use Roboto font */
    font-size: 8px;
    color: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.text-box {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: black;
    font-weight: 300;
    margin-left: 28px; /* Adjusted to match the left padding of the title */
    position: absolute;
}

.about-box {
    bottom: 68px; /* Adjust the distance for the first text box */
}

.pitch-box {
    bottom: 50px; /* Adjust the distance for the second text box */
}
}
